<form #formdata="ngForm" (ngSubmit)="submit()">
    <select name="select" class="form-control" [(ngModel)]="testType" style="float: left; width: fit-content; margin-left: 5%;">
        <option value="java">java</option>
        <option value="sql">sql</option>
        <option value="maths">maths</option>
        <option value="chemistry">chemistry</option>
        <option value="query">query</option>
        <option value="spring boot">spring boot</option>
        <option value="spring core">spring core</option>
    </select>

<input type="search" name="serching" [ngModel]="testType" class="form-control" style="float: right; width: 20%; margin-right: 5%;"> 

    <br>
    <input type="submit" name="butt" class="btn btn-primary">
</form>
<br><br>

<table class="table table-stripped" style="width: fit-content;">
    <thead class="thead-dark">
        <tr *ngIf="tests">
            <th>id</th>
            <th>title</th>
            <th>duration</th>
            <th>total marks</th>
            <th>start time</th>
            <th>end time</th>
        </tr>
    </thead>

        <tr *ngFor="let tst of tests ; let i = index">
            <td>{{tst.testId}}</td>
            <td>{{tst.testTitle}}</td>
            <td>{{tst.testDuration}}</td>
            <td>{{tst.testTotalMarks}}</td>
            <td>{{tst.startTime}}</td>
            <td>{{tst.endTime}}</td>
            <td><a class="btn btn-primary" routerLink="/attempTest" (click)="giveTest(i)">Give test</a></td>
        </tr>
    
</table>
