
<header class="col-sm-12 p-2">
  <h2 style="display: inline;" style="text-align: left;">Online Test Management</h2>
  <h4 *ngIf="service.isUserLoggedIn()"> welcome {{userName}}</h4>
  <button *ngIf="service.isUserLoggedIn()" class="btn btn-success" (click)="logout()">LogOut</button>

</header>

<nav class="col-sm-12 row p-2 bg-dark"> 

  <!-- <a class="nav-item nav-link" routerLink="/register">Register</a> -->
  <!-- <a class="nav-item nav-link" routerLink="/login">Login</a> -->
  <a *ngIf="service.isUserLoggedIn() && service.getUser().isAdmin" class="nav-item nav-link" routerLink="/" (click)="changeFlag()">Home</a>
  <a *ngIf="service.isUserLoggedIn() && service.getUser().isAdmin" class="nav-item nav-link" routerLink="/test" (click)="changeFlag()">Create Test</a>
  <a *ngIf="service.isUserLoggedIn() && service.getUser().isAdmin" class="nav-item nav-link" routerLink="/question">Create Question</a>
  <a *ngIf="service.isUserLoggedIn() && !service.getUser().isAdmin" class="nav-item nav-link" routerLink="/showTest">Show Test</a>
  
  </nav>
  <br><br>
  <router-outlet></router-outlet> 

  <div *ngIf="service.isUserLoggedIn() && service.getUser().isAdmin && flag">
     
    <!-- <img src = "assets/backGround1.jpg" width="40%" height="30%" style="margin-right: 10px; shape-image-threshold: inherit;">
    <img src="assets/backGround1.jpg" width="40%" height="30%" style="margin-left: 10px;">
     -->
    

      <img src="assets/add_test.png" alt="not found" width="100px" height="100px" style="margin-right: 10%;" title="add test" routerLink="/test" (click)="changeFlag()">
      <img src="assets/assessment.png" alt="not found" width="100px" height="100px" style="margin-left: 10%;">
  </div>
  