
<h4> Add test</h4>

<form #formdata="ngForm" (ngSubmit)="createTest()">

<table>

   <tr>
       <input type="number" name="id" [(ngModel)]="test.testId" placeholder="enter test id" class="form-control">
   </tr>
   <br>

   <tr>
    <input type="text" name="name" [(ngModel)]="test.testTitle" placeholder="enter test title" class="form-control">
</tr>
<br>

<tr>
    <input type="time" name="duration" [(ngModel)]="test.testDuration" placeholder="enter test duration" class="form-control">
</tr>
<br>

<tr>
    <input type="datetime-local" name="start" [(ngModel)]="test.startTime" placeholder="enter test start Time" class="form-control">
</tr>
<br>

<tr>
    <input type="datetime-local" name="end" [(ngModel)]="test.endTime" placeholder="enter test endd Time" class="form-control">
</tr>
<br>

    <a class="btn btn-primary" (click)="changeFlag()">Add</a>
    <form #formdata="ngForm" (ngSubmit)="submit()">
        <input  *ngIf="flag" type="text" name="textn" [(ngModel)]="name">
        <input type="submit" name="sss" class="btn btn-primary">
    </form>

<br>

</table>
<br>
<input type="submit" name="butt" class="btn btn-primary">

</form>